DATABASE_URL=postgresql://user:password@localhost:5432/learnhub
JWT_SECRET=0d077c3f7cd118f3a98e2859aaebb336296cad6ba2228f938155962c2ceba844da8
             773d4eb92133bdd5cc5f115ee8fbd919831b9e49df96efb9adf49c18fabb5
PORT=3000
FRAUD_API_URL=http://localhost:8001
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=your_smtp_user
SMTP_PASS=your_smtp_password
SMTP_FROM=no-reply@learnhub.dev
